<%- include("partials/header.ejs") %>

<div class=" stbtn">
  <div class="container col-xxl-8 px-4 py-5 stbtn">
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
      <div class="col-10 col-sm-8 col-lg-6">
        <form action="/submit" method="POST">
            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label">Blog Name</label>
              <input type="text" class="form-control" id="exampleInputEmail1" name ="blogsName" aria-describedby="emailHelp">
              <div id="emailHelp" class="form-text">Try to name your blog something catchy and fun .</div>
            </div>
            <div class="mb-3">
              <label for="blogContent"  class="form-label">Your Blog </label>
              <textarea id = "blogContent" name ="blogsContent" class="form-control" cols="50%" rows="8"></textarea>
            </div>
          
            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
    </div>
      <div class="col-lg-6">
        <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-1"><i>Byte by Byte: Inspire the World with Your Blog</i></h1>
        
            <div>
                
  <video height="400" width = "100%" autoplay muted>
    <source src="/styles/pex.mp4" type="video/mp4">
    
  </video>
            </div>        
        <div class="d-grid gap-2 d-md-flex justify-content-md-start">
       
        </div>
      </div>
    </div>
  </div>
</div>



<%- include("partials/footer.ejs") %> 