.act {
    background-color: #161A30;
    color: white;
}
.hdbg{
    background-color: #F0ECE5;
    
}


.stbtn{
    background-color: #B6BBC4;
    color: black;
}

.ppl{
    background-color: #31304D;
    color: #F0ECE5;
    font-weight: bold;
    font-size: xx-large;
}

.bpix{
    border: black 1px solid;
    
}